<section class="first">
		<div class="first__text">
			<h1 class="first__title title">
				<span class="title--marked">
				Ремонт стиральных машин в Москве 
				<span class="title--marked-red">на дому</span></span>
				в сервисном центре <span class="title--logo">«Починим!»</span>
			</h1>
			<ul class="first__list">
				<li class="first__item">Диагностика - бесплатно*</li>
				<li class="first__item">Мастер приедет в течение 30 минут</li>
				<li class="first__item">Среднее время ремонта – 50 минут</li>
				<li class="first__item">Работаем без выходных с 8:00 до 22:00</li>
				<li class="first__item">Скидка 25% на ремонт в “Счастливые часы"</li>
			</ul>
			<form action="" class="first__form form">
				<input type="tel" name="phone" class="form__input" placeholder="8 (___) - ___ - __ - __">
				<button type="submit" class="form__submit form__submit--red">Позвоните мне</button>
			</form>
		</div>
	
		<picture class="first__preview">
			<source srcset="images/first-d.webp" type="image/webp">
				
			<img src="images/first-d.png" alt="Починим!">
		</picture>
	</section>