<footer class="footer">
	<nav class="footer__nav footer-nav">
		<ul class="footer-nav__list">
			<li class="footer-nav__item">
				<a href="servies.html" class="footer-nav__link">Услуги и цены</a>
			</li>
			<li class="footer-nav__item">
				<a href="about.html" class="footer-nav__link">О компании</a>
			</li>
			<li class="footer-nav__item">
				<a href="contacts.html" class="footer-nav__link">Контакты</a>
			</li>
		</ul>
	</nav>
	<div class="footer__info footer-info">
		<div class="footer-info__place">
			<p class="footer-info__time">Работаем без выходных <span class="footer-info__time--red">с 8:00 до 22:00</span>
			</p>
			<p class="footer-info__address"> г. Москва, ул. Черняховского, 8а</p>
		</div>
		<div class="footer-info__social footer-social">
			<a href="tel:84951376187" class="footer-social__phone">8 (495) 137-61-87</a>
			<div class="footer-social__btns">
				<a href="#" class="footer-social__link" target="_blank">
					<picture class="footer-social__icon">
						<source srcset="images/vk.svg" type="image/svg+xml">
						<img src="images/vk.png" alt="">
					</picture>
				</a>
				<a href="#" class="footer-social__link" target="_blank">
					<picture class="footer-social__icon">
						<source srcset="images/fb.svg" type="image/svg+xml">
						<img src="images/fb.png" alt="">
					</picture>
				</a>
				<a href="#" class="footer-social__link" target="_blank">
					<picture class="footer-social__icon">
						<source srcset="images/ok.svg" type="image/svg+xml">
						<img src="images/ok.png" alt="">
					</picture>
				</a>
				<a href="#" class="footer-social__link" target="_blank">
					<picture class="footer-social__icon">
						<source srcset="images/tw.svg" type="image/svg+xml">
						<img src="images/tw.png" alt="">
					</picture>
				</a>
				<a href="#" class="footer-social__link" target="_blank">
					<picture class="footer-social__icon">
						<source srcset="images/gg.svg" type="image/svg+xml">
						<img src="images/gg.png" alt="">
					</picture>
				</a>
			</div>
		</div>
	</div>
	<div class="footer__fixed fix-menu">
		<a href="#" class="fix-menu__link">
			<picture class="fix-menu__icon">
				<source srcset="images/footer-phone.svg" type="image/svg+xml">
				<img src="images/footer-phone.png" alt="Заказать звонок">
			</picture>
			<span class="fix-menu__text">Заказать звонок</span>
		</a>
		<a href="#" class="fix-menu__link">
			<picture class="fix-menu__icon">
				<source srcset="images/footer-sale.svg" type="image/svg+xml">
				<img src="images/footer-sale.png" alt="Получить скидку">
			</picture>
			<span class="fix-menu__text">Получить скидку</span>
		</a>

	</div>
</footer>