<section class="consultation">
	<div class="white-block white-block--consultation consultation__content">
		<div class="consultation__text">
			<h2 class="subtitle subtitle--consultation">Бесплатная консультация</h2>
			<form action="" class="consultation__form form">
				<input type="tel" name="phone" class="form__input form__input--consultation" placeholder="8 (___) - ___ - __ - __">
				<button type="submit" class="form__submit form__submit--red">Позвоните мне</button>
			</form>
		</div>
		<div class="consultation__info">
			<div class="consultation__price-info">
				<p class="consultation__price-title">Стоимость <br>ремонта:</p>
				<p class="consultation__price">330 р.</p>
			</div>
			<p class="consultation__guarantees">Ремонтируем в день обращения с гарантией на год</p>
		</div>
	</div>
</section>