<section class="happy">
	<div class="white-block white-block--blue happy__content">
		<header class="happy__header">
			<h2 class="subtitle subtitle--sale subtitle--happy">
				Счастливые часы
			</h2>
			<p class="sale__text sale__text--happy">
				<span class="sale__text--proc">25%</span> скидка на <br>услуги с 12:00 до 16:00
			</p>
		</header>
		<div class="happy__form">
			<form action="" class="form">
				<input type="tel" name="phone" class="form__input" placeholder="8 (___) - ___ - __ - __">
				<button type="submit" class="form__submit form__submit--black">Позвоните мне</button>
			</form>
			<p class="happy__time">
				До конца акции остается 

7 часов 2 минуты
			</p>
		</div>
	</div>
</section>