<header class="header">
		<div class="header__info">
			<a href="/">
				<picture class="header__logo logo">
					<source srcset="images/logo.svg" type="image/svg+xml">
					<img src="images/logo.png" alt="Починим">
				</picture>
			</a>
			<p class="header__descr">Предоставляем услуги без выходных и праздников в Москве и области</p>
		</div>
		<nav class="header__nav main-nav">
			<ul class="main-nav__list">
				<li class="main-nav__item main-nav__item--parent">
					<!-- Для активной ссылки добавляется класс main-nav__item--active -->
					<a href="all-services.html" class="main-nav__link">Услуги и цены</a>
					<div class="submenu">
						<ul class="main-nav__submenu main-submenu main-submenu--all-serv">
							<li class="main-submenu__item"><a href="service.html" class="main-submenu__link">Не сливает воду</a></li>
							<li class="main-submenu__item"><a href="service.html" class="main-submenu__link">Не набирает воду</a></li>
							<li class="main-submenu__item"><a href="service.html" class="main-submenu__link">Не отжимает</a></li>
							<li class="main-submenu__item"><a href="service.html" class="main-submenu__link">Не крутит барабан</a></li>
							<li class="main-submenu__item"><a href="service.html" class="main-submenu__link">Не греет воду</a></li>
							<li class="main-submenu__item"><a href="service.html" class="main-submenu__link">Не включается</a></li>
							<li class="main-submenu__item"><a href="service.html" class="main-submenu__link">Протекает</a></li>
							<li class="main-submenu__item"><a href="service.html" class="main-submenu__link">Не открывается дверца</a></li>
							<li class="main-submenu__item"><a href="service.html" class="main-submenu__link">Шумит</a></li>
							<li class="main-submenu__item"><a href="service.html" class="main-submenu__link">Установка</a></li>
						</ul>
						<ul class="main-nav__submenu main-submenu main-submenu--serv">
							<li class="main-submenu__item"><a href="all-services.html" class="main-submenu__link main-submenu__link--serv">Услуги и цены</a></li>
							<li class="main-submenu__item"><a href="faults.html" class="main-submenu__link main-submenu__link--serv">Все неисправности и услуги</a></li>
						</ul>
					</div>
				</li>
				<li class="main-nav__item main-nav__item--parent">
					<a href="about.html" class="main-nav__link">О компании</a>
					<div class="submenu">
						<ul class="main-nav__submenu main-submenu main-submenu--about">
							<li class="main-submenu__item"><a href="about.html" class="main-submenu__link">О компании</a></li>
							<li class="main-submenu__item"><a href="day-repair.html" class="main-submenu__link">Ремонт в день обращения</a></li>
							<li class="main-submenu__item"><a href="diagnostics.html" class="main-submenu__link">Диагностика</a></li>
							<li class="main-submenu__item"><a href="feedbacks.html" class="main-submenu__link">Отзывы</a></li>
							<li class="main-submenu__item"><a href="guarantees.html" class="main-submenu__link">Гарантия</a></li>
						</ul>
					</div>
				</li>
				<li class="main-nav__item"><a href="contacts.html" class="main-nav__link">Контакты</a></li>
			</ul>
		</nav>
		<div class="header__btns top-btns">
			<a href="tel:84951376187" class="top-btns__one top-btns__one--phone">
				<svg class="top-btns__icon top-btns__icon--phone" width="19" height="18" viewBox="0 0 19 18" xmlns="http://www.w3.org/2000/svg">
					<path d="M17.0557 11.8149C15.9537 11.8149 14.8716 11.6426 13.8462 11.3037C13.3438 11.1323 12.7261 11.2896 12.4194 11.6045L10.3955 13.1324C8.04833 11.8794 6.60252 10.4341 5.3667 8.10455L6.84959 6.13336C7.23486 5.74861 7.37305 5.18658 7.20748 4.65923C6.86717 3.62845 6.6943 2.54691 6.6943 1.44441C6.69434 0.647953 6.04639 0 5.24998 0H1.94436C1.14795 0 0.5 0.647953 0.5 1.44436C0.5 10.5733 7.92678 18 17.0557 18C17.8521 18 18.5 17.352 18.5 16.5556V13.2593C18.5 12.4629 17.852 11.8149 17.0557 11.8149Z"/>
				</svg>

				<span class="top-btns__title">8 (495) 137-61-87</span>
			</a>
			<button class="top-btns__one top-btns__one--menu open-menu">
				<svg class="top-btns__icon top-btns__icon--menu-open" width="16" height="16" viewBox="0 0 16 16"  xmlns="http://www.w3.org/2000/svg">
					<path d="M0 2L16 2" stroke-width="3"/>
					<path d="M0 8L16 8" stroke-width="3"/>
					<path d="M0 14L16 14" stroke-width="3"/>
				</svg>
				<svg class="top-btns__icon top-btns__icon--menu-close" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2 2L13.657 13.657" stroke-width="3"/>
					<path d="M13.6567 1.65698L1.65674 13.657" stroke-width="3"/>
				</svg>


			</button>
		</div>
	</header>