<section class="masters">
	<h2 class="subtitle">Мастера по ремонту стиральных машин</h2>
	<div class="masters__list swiper-wrapper">
		<article class="masters__one master swiper-slide">
			<picture class="master__photo">
				<img src="images/master1.png" alt="">
			</picture>
			<p class="master__name">Игорь Кузнецов</p>
			<p class="master__descr">Мастер по ремонту стиральных машин</p>
			<p class="master__exp">
				Опыт работы: 
				<span class="master__exp--time">7 лет</span>
			</p>
		</article>
		<article class="masters__one master swiper-slide">
			<picture class="master__photo">
				<img src="images/master2.png" alt="">
			</picture>
			<p class="master__name">Максим Быков</p>
			<p class="master__descr">Инженер-электрик</p>
			<p class="master__exp">Опыт работы: 
				<span class="master__exp--time">10 лет</span>
			</p>
		</article>
		<article class="masters__one master swiper-slide">
			<picture class="master__photo">
				<img src="images/master3.png" alt="">
			</picture>
			<p class="master__name">Виталий Морозов</p>
			<p class="master__descr">Мастер по ремонту стиральных машин</p>
			<p class="master__exp">Опыт работы: 
				<span class="master__exp--time">6 лет</span>
			</p>
		</article>
		<article class="masters__one master swiper-slide">
			<picture class="master__photo">
				<img src="images/master4.png" alt="">
			</picture>
			<p class="master__name">Антон Мамедов</p>
			<p class="master__descr">Мастер по ремонту стиральных машин</p>
			<p class="master__exp">Опыт работы: 
				<span class="master__exp--time">9 лет</span>
			</p>
		</article>

	</div>
	<div class="pagination pagination--masters">
		
		<button class="pagination__btn pagination__btn--prev">
			<picture class="pagination__icon">
				<source srcset="images/btn.svg" type="image/svg+xml">
				<img src="images/btn.png" alt="Предыдущий слайд">
				
			</picture>
		</button>
		<div class="pagination__list">
		</div>
		<button class="pagination__btn pagination__btn--next">
			<picture class="pagination__icon">
				<source srcset="images/btn.svg" type="image/svg+xml">
				<img src="images/btn.png" alt="Следующий слайд">
				
			</picture>
		</button>
	</div>
</section>