<section class="sale">
	<div class="sale__info">
		<h2 class="subtitle subtitle--sale">
			Скидка <span class="subtitle--sale-lined">25%</span>
		</h2>
		<p class="sale__text">по акции «Счастливые часы»</p>
		<form action="" class="sale__form form">
			<input type="tel" name="phone" class="form__input" placeholder="8 (___) - ___ - __ - __">
			<button type="submit" class="form__submit form__submit--black">Отправить</button>
		</form>
		<p class="sale__text sale__text--time">
			До конца акции остается <span class="time__hours">7</span> <span class="time__hours-name">часов</span> <span class="time__minutes">2</span> <span class="time__minutes-name">минуты</span>
		</p>
	</div>
</section>