<section class="services">
	<div class="services__list swiper-wrapper">
		<article class="services__one serv swiper-slide">
			<header class="serv__header">
				<picture class="serv__icon">
					<source srcset="images/serv1.svg" type="image/svg+xml">	
					<img src="images/serv1.png" alt="">
				</picture>
				<h3 class="serv__title serv__title--mobile">Бесплатная диагностика*</h3>
			</header>
			<div class="serv__description">
				<h3 class="serv__title">Бесплатная диагностика*</h3>
				<p class="serv__text">
					Перед любыми ремонтными работами мы обязательно проводим тщательную диагностику вашего оборудования, озвучиваем окончательную стоимость услуг.

					<span class="serv__text--info">*Диагностика бесплатная в случае осуществления ремонта</span>
				</p>
			</div>
		</article>
		<article class="services__one serv swiper-slide">
			<header class="serv__header">
				<picture class="serv__icon">
					<source srcset="images/serv2.svg" type="image/svg+xml">	
					<img src="images/serv2.png" alt="">
				</picture>
				<h3 class="serv__title serv__title--mobile">Ремонт в день обращения</h3>
			</header>
			<div class="serv__description">
				<h3 class="serv__title">Ремонт в день обращения</h3>
				<p class="serv__text">
					Мы понимаем, как ценно Ваше время, поэтому предоставляем услугу ремонта стиральной машины в день обращения. Не важно, что случилось с вашей стиральной машиной: не греет воду, не сливает или шумит – мы занимаемся ремонтом уже более 8 лет, а потому нам не составит труда исправить поломку в кратчайшие сроки.
				</p>
			</div>
		</article>
		<article class="services__one serv swiper-slide">
			<header class="serv__header">
				<picture class="serv__icon">
					<source srcset="images/serv3.svg" type="image/svg+xml">	
					<img src="images/serv3.png" alt="">
				</picture>
				<h3 class="serv__title serv__title--mobile">Более 720 отзывов клиентов</h3>
			</header>
			<div class="serv__description">
				<h3 class="serv__title">Более 720 отзывов клиентов</h3>
				<p class="serv__text">
					Мы работаем для наших клиентов и их комфорта, и нам очень приятно получать отзывы на наши услуги, чтобы мы могли совершенствовать наш сервис для Вас!
				</p>
			</div>
		</article>
		<article class="services__one serv swiper-slide">
			<header class="serv__header">
				<picture class="serv__icon">
					<source srcset="images/serv4.svg" type="image/svg+xml">	
					<img src="images/serv4.png" alt="">
				</picture>
				<h3 class="serv__title serv__title--mobile">Гарантия от 1 года
			</header>
			<div class="serv__description">
				<h3 class="serv__title">Гарантия от 1 года</h3>
				<p class="serv__text">
					Вы можете быть уверены в качестве наших работ и запчастей так, как уверены в них мы. Именно поэтому мы предоставляем надежную гарантию на работу и комплектующие от 1 года в зависимости от типа проведенных работ.
				</p>
			</div>
		</article>
	</div>
	<div class="pagination">
		
		<button class="pagination__btn pagination__btn--prev">
			<picture class="pagination__icon">
				<source srcset="images/btn.svg" type="image/svg+xml">
				<img src="images/btn.png" alt="Предыдущий слайд">
				
			</picture>
		</button>
		<div class="pagination__list">
		</div>
		<button class="pagination__btn pagination__btn--next">
			<picture class="pagination__icon">
				<source srcset="images/btn.svg" type="image/svg+xml">
				<img src="images/btn.png" alt="Следующий слайд">
				
			</picture>
		</button>
	</div>
</section>