.breadcrumbs{
	display: none;
	a{
		font-size: 12px;
		line-height: 22px;
		color: #828282;
		text-decoration: none;
		transition: $trans;
		&:focus,
		&:hover{
			color: $red;
			text-decoration: underline;
		}
		& + *{
			position: relative;
			margin-left: 34px;
			&::after{
				content: "";
				position: absolute;
				top: 50%;
				left: -19px;
				transform: translate(0, -50%);
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: $red;
			}
		}
	}
	span{
		font-size: 12px;
		line-height: 22px;
		color: #000;

	}
}
@media (min-width: 768px){
	.breadcrumbs{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 20px;
		padding-left: calc((100% - 700px) / 2);
		padding-right: calc((100% - 700px) / 2);
	}
}
@media (min-width: 1024px){
	.breadcrumbs{
		padding-left: calc((100% - 960px) / 2);
		padding-right: calc((100% - 960px) / 2);
	}
}
@media (min-width: 1200px){
	.breadcrumbs{
		margin-bottom: 30px;
		padding-left: calc((100% - 1050px) / 2);
		padding-right: calc((100% - 1050px) / 2);
	}
}
@media (min-width: 1440px){
	.breadcrumbs{
		margin-bottom: 40px;
	}
}