.brokes{
	padding-top: 15px;
	padding-bottom: 30px;
}
@media (min-width: 768px){
	.brokes{
		padding: 0px calc((100% - 700px) / 2);
		&__list{

		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		justify-content: space-between;
		gap: 15px;
		}
	}
}
@media (min-width: 1024px){
	.brokes{
		padding: 0px calc((100% - 960px) / 2);
		&__list{
			gap: 14px;
		}
	}
}
@media (min-width: 1200px){
	.brokes{
		padding: 90px calc((100% - 1050px) / 2);
	}
}
@media (min-width: 1440px){
	.brokes{
		padding-left: calc((100% - 1270px) / 2);
		padding-right: calc((100% - 1270px) / 2);
	}
}
.broke{
	position: relative;
	padding: 30px 20px;
	background-color: $grey;
	box-sizing: border-box;
	border-radius: 5px;
	transition: $trans;
	&--big{
		border: 2px solid $blue;
		background-color: #fff;
		background-image: url(../images/broke-bg-d.jpg);
		background-position: center right;
		background-repeat: no-repeat;
		background-size: 120px auto;
	}
	&:hover{
		box-shadow: 3px 3px 10px #9999996e;
	}
	&--form{
		background-color: $blue;
	}
	&__link{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 5;
		&-content{
			font-size: 12px;
			line-height: 18px;
			color: #000;
			transition: $trans;
			text-decoration: none;
			&:hover{
				color: $red;
				text-decoration: underline;
			}
		}
	}
	&__title{
		margin: 0 0 20px;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		color: #000000;
		&--form{
			margin-bottom: 30px;
			color: #fff;
			font-size: 24px;
			line-height: 28px;
		}
	}
	&__list{
		margin: 0 0 25px;
		padding: 0;
		list-style: none;
	}
	&__item{
		position: relative;
		padding-left: 15px;
		font-size: 12px;
		line-height: 18px;
		&::before{
			content: "";
			position: absolute;
			top: 7px;
			left: 0;
			width: 4px;
			height: 4px;
			border-radius: 5px;
			background-color: $blue;
		}
		& + &{
			margin-top: 15px;
		}
		&--form{
			padding: 0;
			color: #fff;
			&::before{
				content: none;
			}
		}
	}
	&__price{
		margin: 0;
		padding-left: 20px;
		font-weight: bold;
		font-size: 20px;
		line-height: 34px;
		color: $red;
	}
	&__number{
		position: absolute;
		bottom: 30px;
		right: -0.075em;
		margin: 0;
		font-weight: bold;
		font-size: 64px;
		line-height: 1;
		letter-spacing: 0.075em;
		color: $grey;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #fff;
	}
	&__input{
		display: block;
		width: 100%;
		margin-bottom: 10px;
		padding: 10px 20px;
		color: #fff;
		font-weight: 500;
		font-size: 13px;
		text-align: center;
		line-height: 24px;
		background-color: $blue;
		border: 2px solid #fff;
		border-radius: 7px;
		box-sizing: border-box;
		&::placeholder{
			color: #fff;
			font-weight: 500;
			font-size: 13px;
			line-height: 24px;
		}
	}
}
@media (max-width: 768px){
	.broke{
		&:nth-child(n+4){
			display: none;
		}
		& + &{
			margin-top: 20px;
		}
	}
}

@media (min-width: 768px){
	.broke{
		flex-basis: calc(50% - 7.5px);
		&--big{
			flex-basis: 100%;
			background-size: auto 100%;
		}
		&__price{
			padding-left: 0;
		}
	}
}
@media (min-width: 1024px){
	.broke{
		flex-basis: calc(25% - 14px);
		&--big{
			flex-basis: calc(50% - 14px);

		}
	}
}

@media (min-width: 1200px){
	.broke{
		padding: 40px 30px 50px;
		&__title{
			margin-bottom: 17px;
		}
	}
}
@media (min-width: 1440px){
	.broke{
		&__item{
			br{
				display: none;
			}
		}
	}
}