.consultation{
	padding: 50px 0px 0px;
	&__price-info{
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		justify-content: space-between;
	}
	&__price-title{
		margin: 0;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
	}
	&__price{
		margin: 0;
		font-weight: 800;
		font-size: 34px;
		line-height: 34px;
		color: $red;
	}
	&__guarantees{
		margin: 30px 0 0;
		font-size: 14px;
		color: #000;
		line-height: 18px;
	}
}
@media (max-width: 767px){
	.consultation{
		&__form{
			padding: 40px 20px 0;
		}
		&__info{
			margin-top: 40px;
			padding: 30px 20px 0;
			border-top: 1px solid #E6E6E6;
		}
	}
}
@media (min-width: 768px){
	.consultation{
		padding: 0px calc((100% - 700px) / 2) 30px;
		&__content{
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
		}
		&__guarantees{
			max-width: 250px;
		}
		&__info{
			padding-left: 20px;
			border-left: 1px solid #E6E6E6;
		}
		&__text,
		&__info{
			padding-top: 50px;
			padding-bottom: 50px;
		}

	}
}
@media (min-width: 1024px){
	.consultation{
		padding: 0px calc((100% - 960px) / 2) 60px;
		&__content{

		}
		&__text,
		&__info{
			padding-top: 60px;
		}
		&__info{
			padding-left: 30px;
		}

	}
}
@media (min-width: 1200px){
	.consultation{
		padding: 90px calc((100% - 1050px) / 2) 100px;
		&__content{
		}
		&__text,
		&__info{
			padding-top: 75px;
			padding-bottom: 60px;
		}
		&__info{
			padding-left: 40px;
		}
	}
}
@media (min-width: 1440px){
	.consultation{
		padding-left: calc((100% - 1270px) / 2);
		padding-right: calc((100% - 1270px) / 2);
	}
	&__text,
	&__info{
		padding-top: 90px;
		padding-bottom: 70px;
	}
}