.map{
	&__info{
		& + &{
			margin-top: 20px;
		}
	}
	&__iframe{
		margin-top: 30px;
	}
}
@media (min-width: 767px){
	.map{
		padding: 0px calc((100% - 700px) / 2) 0px;
		&__list{
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			justify-content: space-between;
			gap: 20px;
		}
		&__info{
			flex-basis: calc(50% - 25px);
			& + &{
				margin-top: 0px;
			}
			&--text{
				order: 3;
			}
			&--time{
				order: 1;
			}
			&--adress{
				order: 2;
			}
			&--phone{
				order: 4;
			}
		}
	}
}
@media (min-width: 1024px){
	.map{
		padding: 0px calc((100% - 960px) / 2) 0px;
	}
}
@media (min-width: 1200px){
	.map{
		padding: 0px calc((100% - 1050px) / 2) 0px;
		&__list{
			gap: 25px;
		}
	}
}
@media (min-width: 1440px){
	.map{
		padding-left: calc((100% - 1270px) / 2);
		padding-right: calc((100% - 1270px) / 2);
	}
}
@media (min-width: 1440px){
	.map{
		&__list{
			padding: 0 50px;
		}
	}
}
.map-info{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	&__icon{
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		img{
			object-fit: contain;
		}
	}
	&__text{
		margin: 0;
		font-size: 14px;
		line-height: 1.5;
	}
}
@media (min-width: 1024px){
	.map-info{
		&__icon{
			margin-right: 20px;
		}
		&__text{
			max-width: 350px;
		}
	}
}
.yamap-con{
	display: block;
	width: 100%;
	height: 320px;
}
@media (min-width: 1024px){
	.yamap-con{
		height: 450px;
	}
}
