.faults{
	padding: 0 15px;
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item{
	}
	&__link{
		position: relative;
		padding-left: 10px;
		display: block;
		font-size: 14px;
		line-height: 35px;
		text-decoration: none;
		color: #000;
		transition: $trans;
		&::before{
			content: "";
			position: absolute;
			top: 15px;
			left: 0;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $red;
			opacity: 0;
			transition: $trans;
		}
		&:hover{
			padding-left: 20px;
			color: $red;
			font-weight: 600;
			&::before{
				opacity: 1;
			}
		}
	}
	&__btn-con{
		padding: 0 15px;
	}
}
@media (max-width: 767px){
	.faults{
		&__list{
			&:nth-child(n+2){
				display: none;
			}
			& + &{
				margin-top: 20px;
			}
		}
		&--show{
			.faults__list{
				display: block;
			}
		}
	}
}
@media (min-width: 768px){
	.faults{
		padding: 0px calc((100% - 700px) / 2);
		&__con{
			display: flex;
			flex-flow: row nowrap;
			align-items: flex-start;
			justify-content: space-between;
		}
		&__list{
			flex-basis: 33%;
		}
		&:nth-child(n+2){
			display: block;
		}
		&__btn-con{
			display: none;
		}
	}
}
@media (min-width: 1024px){
	.faults{
		padding: 0px calc((100% - 960px) / 2);
	}
}
@media (min-width: 1200px){
	.faults{
		padding: 0px calc((100% - 1050px) / 2);
	}
}
@media (min-width: 1440px){
	.faults{
		padding-left: calc((100% - 1270px) / 2);
		padding-right: calc((100% - 1270px) / 2);
	}
}
