.feedbacks{
	padding: 0px 20px 60px;
	box-sizing: border-box;
	overflow: hidden;
	&--page{
		padding-top: 60px;
	}
	&__list{
		// overflow: hidden;
	}
	&__one{
		&--page{
			& + &{
				margin-top: 20px;
			}
		}
	}
}
@media (min-width: 768px){
	.feedbacks{
		max-width: 700px;
		margin: 0 auto;
		padding: 30px 0;
		&__list{
		}
	}
}
@media (min-width: 1024px){
	.feedbacks{
		max-width: 960px;
		padding: 70px 0 90px;
		&__list{
		}
		&__one{
			&--page{
				padding: 30px;
			}
		}
	}
}
@media (min-width: 1200px){
	.feedbacks{
		max-width: 1050px;
		padding: 100px 0 60px;
		&__list{
		}
		&__one{
			&--page{
				padding: 45px;
				
			}
		}
	}
}
.feedback{
	padding: 30px 25px;
	border-radius: 20px;
	background-color: #fff;
	box-sizing: border-box;
	&__author{
		margin: 0 0 15px;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		color: #000000;
	}
	&__date{
		margin: 0 0 20px;
		font-size: 14px;
		line-height: 20px;
		color: #707070;
	}
	&__text{
		margin: 0 0 15px;
		font-size: 14px;
		line-height: 22px;
		color: #000000;
	}
	&__rate{
		width: 125px;
		img{
			width: inherit;
		}
	}
}
