.first{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 15px;
	&__text, &__preview{
		flex-basis: 100%;
		width: 100%;
	}
	&__title{
		padding: 0 15px;
	}
	&__list{
		margin: 20px 0 0;
		padding: 0;
		padding-left: 15px;
		padding-right: 10px;
		list-style: none;
	}
	&__item{
		position: relative;
		padding-left: 20px;
		font-size: 12px;
		line-height: 211.9%;
		color: #000000;
		&::before{
			content: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6.89625C1.92976 7.4052 2.33149 8.11988 2.80851 8.81534C2.90065 8.94967 3.68658 10.013 3.70213 9.99988C3.97476 9.76972 4.05816 9.39551 4.20213 9.13298C4.68211 8.25771 5.25215 7.39937 5.80851 6.54221C7.04301 4.64027 8.44568 2.80762 10 1' stroke='%23DB073D' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: auto;
		}
	}
	&__form{
		margin-top: 30px;
		padding: 0 20px;
	}
	&__preview{
		margin-top: 15px;
		padding: 0 30px;
		box-sizing: border-box;
	}
}

@media (min-width: 768px){
	.first{
		flex-flow: row-reverse nowrap;
		align-items: center;
		padding-left: calc((100% - 700px) / 2);
		padding-right: calc((100% - 700px) / 2);
		&__text,
		&__preview{
			width: 50%;
			flex-basis: 50%;
		}
		&__preview{
			margin: 0 auto;
			padding: 0;
			max-width: 540px;
		}
		&__list{
			margin-top: 30px;
		}
		&__item{
			font-size: 16px;
			line-height: 30px;
		}
		&__form{
			margin-top: 45px;
		}
	}
}
@media (min-width: 1024px){
	.first{
		padding-left: calc((100% - 960px) / 2);
		padding-right: calc((100% - 960px) / 2);
	}
}
@media (min-width: 1200px){
	.first{
		padding-left: calc((100% - 1050px) / 2);
		padding-right: calc((100% - 1050px) / 2);
	}
}
@media (min-width: 1440px){
	.first{
		padding-left: calc((100% - 1270px) / 2);
		padding-right: calc((100% - 1270px) / 2);
	}
}

.title{
	margin: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 134.4%;
	color: #000000;
	&--marked{
		display: block;
		margin-bottom: 10px;
		font-weight: 900;
		font-size: 22px;
		line-height: 126.9%;
		&-red{
			display: block;
			color: $red;
		}
	}

}
@media (min-width: 768px){
	.title{
		font-size: 22px;
		&--marked{
			font-size: 34px;
			&-red{
				display: inline;
			}
		}
	}
}
@media (min-width: 1024px){
	.title{
		font-size: 22px;
		&--marked{
			font-size: 40px;
			&-red{
				display: inline;
			}
		}
		&--logo{
		position: relative;
		&::after{
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 18px;
			background-image: url("data:image/svg+xml,%3Csvg width='177' height='12' viewBox='0 0 177 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.944391 7.1831L5.00305 9.65268C5.04526 9.67836 5.09484 9.68921 5.14391 9.68349C57.7638 3.55767 110.929 3.7708 163.498 10.3183L177 12L172.227 11.0434C115.931 -0.239731 58.1467 -2.048 1.25527 5.69313C0.501767 5.79566 0.294757 6.78782 0.944391 7.1831Z' fill='%23DB073D'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	}
}
@media (min-width: 1200px){
	.title{
		font-size: 28px;
		&--marked{
			font-size: 44px;
			&-red{
				display: inline;
			}
		}
	}
}

@media (min-width: 1440px){
	.title{
		font-size: 30px;
		line-height: 37px;
		&--marked{
			font-size: 54px;
			line-height: 116.4%;
		}
	}
}

