@font-face {
    font-family: 'PfDinDisplayPro';
    src: url('fonts/PFDinDisplayPro-Regular.woff2') format('woff2'),
        url('fonts/PFDinDisplayPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PfDinDisplayPro';
    src: url('fonts/PFDinDisplayPro-Bold.woff2') format('woff2'),
        url('fonts/PFDinDisplayPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

