.footer{
	margin-top: 50px;
	background-color: #25383F;
	padding-bottom: 45px;
}
@media (min-width: 1024px){
	.footer{
		margin-top: 80px;
		padding-left: calc((100% - 960px)/2);
		padding-right: calc((100% - 960px)/2);
		padding-bottom: 0;
	}
}
@media (min-width: 1200px){
	.footer{
		margin-top: 110px;
		padding-left: calc((100% - 1100px)/2);
		padding-right: calc((100% - 1100px)/2);
	}
}
@media (min-width: 1440px){
	.footer{
		padding-left: calc((100% - 1400px)/2);
		padding-right: calc((100% - 1400px)/2);
	}
}
@media (min-width: 1620px){
	.footer{
		padding-left: calc((100% - 1570px)/2);
		padding-right: calc((100% - 1570px)/2);
	}
}
.footer-nav{
	&__list{
		margin: 0;
		padding: 30px 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.34);
		list-style: none;
	}
	&__item{
		display: block;
		padding: 0 30px;
		& + &{
			margin-top: 15px;
		}
	}
	&__link{
		font-weight: bold;
		font-size: 14px;
		line-height: 20px;
		color: #FFFFFF;
		text-decoration: none;
		transition: $trans;
		&:hover{
			text-decoration: underline;
		}
	}
}
@media (min-width: 768px){
	.footer-nav{
		&__list{
			padding: 20px;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: flex-start;
		}
		&__item{
			padding: 0;
			& + &{
				margin-top: 0;
				margin-left: 30px;
			}
		}
	}
}
@media (min-width: 1024px){
	.footer-nav{
		&__list{
			padding: 35px 15px;
		}
	}
}
.footer-info{
	padding:  35px 20px 50px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
	&__time{
		margin: 0 0 10px;
		font-weight: bold;
		font-size: 13px;
		line-height: 18px;
		text-align: center;
		color: #FFFFFF;
		&--red{
			color: $red;
		}
	}
	&__address{
		margin: 0;
		font-size: 14px;
		line-height: 18px;
		text-align: left;
		color: #FFFFFF;
	}
	&__social{
		margin-top: 40px;
	}
}
@media (min-width: 768px){
	.footer-info{
		flex-flow: row nowrap;
		justify-content: space-between;
		&__social{
			margin: 0;
		}
	}
}
@media (min-width: 1024px){
	.footer-info{
		padding: 30px 15px;
	}
}
.footer-social{
	&__phone{
		display: block;
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
		color: #FFFFFF;
		transition: $trans;
		text-decoration: none;
		&:hover{
			color: $red;
		}

	}
	&__btns{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
	}
	&__icon{
		height: 18px;
		img{
			height: inherit;
			width: auto;
		}
	}
}

.fix-menu{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 10px 15px;
	background-color: #fff;
	box-shadow: 0px -8px 7px rgba(106, 97, 97, 0.06);
	z-index: 10;
	box-sizing: border-box;
	&__link{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;
		// flex-basis: 40%;
		font-weight: 500;
		font-size: 10px;
		line-height: 21px;
		color: #000000;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	&__icon{
		width: 25px;
		height: 25px;
		margin-right: 10px;
		img{
			width: inherit;
			height: inherit;
		}
	}
}
@media (min-width: 768px){
	.fix-menu{
		justify-content: center;
		gap: 40px;
		&__link{
			flex-basis: auto;
		}
	}
}
@media (min-width: 1024px){
	.fix-menu{
		display: none;
	}

}
