.happy{
	&__time{
		position: relative;
		margin: 20px 0 0;
		padding-left: 30px;
		color: #fff;		
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		&::before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10.5' cy='10.5' r='9.5' fill='white' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M9.5 6V11.5H16.5' stroke='%23DB073D' stroke-width='2'/%3E%3C/svg%3E%0A");
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
}
@media (min-width: 768px){
	.happy{
		padding: 0px calc((100% - 700px) / 2);
	}
}
@media (min-width: 1024px){
	.happy{
		padding: 0px calc((100% - 960px) / 2);
		&__content{
			display: flex;
			flex-flow: row nowrap;
			align-items: flex-start;
			justify-content: space-between;
		}
		&__header,
		&__form{
			flex-basis: 50%;
			max-width: 480px;
		}
		&__time{
			width: fit-content;
			margin-left: auto;
		}
	}
}
@media (min-width: 1200px){
	.happy{
		padding: 0px calc((100% - 1050px) / 2);

	}
}
@media (min-width: 1440px){
	.happy{
		padding-left: calc((100% - 1230px) / 2);
		padding-right: calc((100% - 1230px) / 2);
	}
}
