.header{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 15px 15px 0px;
	&__info{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		line-height: 0;
	}
	&__nav{
		visibility: hidden;
		opacity: 0;
	}
	&__descr{
		display: none;
		margin: 0;
		color: #000;
		
	}
	&__logo{
		width: 110px;
		img{
			width: inherit;
		}
	}
}
@media (min-width: 768px){
	.header{
		padding-top: 20px;
		padding-bottom: 0;
		&__descr{
			// display: block;
		}

	}
}
@media (min-width: 1024px){
	.header{
		margin-bottom: 35px;
		padding-left: calc((100% - 960px)/2);
		padding-right: calc((100% - 960px)/2);

		&__info{
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: flex-start;
		}
		&__logo{
			width: 130px;
		}
		&__descr{
			display: block;
			margin-left: 10px;
			max-width: 150px;
			font-size: 10px;
			line-height: 12px;
		}
		&__nav{
			visibility: visible;
			opacity: 1;
		}
	}
}
@media (min-width: 1200px){
	.header{
		margin-bottom: 55px;
		padding-left: calc((100% - 1100px)/2);
		padding-right: calc((100% - 1100px)/2);
		padding-top: 30px;
		&__logo{
			width: 160px;
		}
		&__descr{
			margin-left: 20px;
		}
	}
}
@media (min-width: 1440px){
	.header{
		padding-left: calc((100% - 1400px)/2);
		padding-right: calc((100% - 1400px)/2);
		&__nav{
			margin-left: 150px;
		}
		&__descr{
			max-width: 225px;
			font-size: 12px;
			line-height: 15px;
		}
		&__logo{
			width: 190px;
		}
	}
}
@media (min-width: 1620px){
	.header{
		padding-left: calc((100% - 1570px)/2);
		padding-right: calc((100% - 1570px)/2);
		&__logo{
			width: 220px;
		}
	}
}
.top-btns{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	&__one{
		position: relative;
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 2px;
		border: none;
		text-decoration: none;
		cursor: pointer;
		color: #000;

		transition: $trans;

		&--phone{
			background-color: #484848;
		}
		&--menu{
			background-color: $red;
		}
		& + &{
			margin-left: 25px;
		}
		&:hover .top-btns__icon--phone,
		&:active .top-btns__icon--phone{
		}
		&:hover .top-btns__icon--menu-open,
		&:active .top-btns__icon--menu-close{
			fill: $red;
		}
		&--phone:hover{
			background-color: $red;
		}
		&--menu:hover{
			background-color: #484848;
		}
		
	}
	&__icon{
		width: 14px;
		height: 14px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: $trans;
		&--phone{
			fill: #fff;
		}
		&--menu-open{
			opacity: 1;
			stroke: #fff;
		}
		&--menu-close{
			opacity: 0;
			stroke: #fff;
		}
	}
	&__title{
		display: none;
		font-weight: 700;
	}
}
@media (min-width: 1024px){
	.top-btns{
		&__one{
			height: auto;
			width: auto;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			background-color: transparent;
			&--menu{
				display: none;
			}
			&--phone:hover{
				background: none;
				color: $red;
				.top-btns__icon--phone{
					fill: #000;
				}
			}
		}
		&__icon{
			position: static;
			width: 18px;
			height: 18px;
			transform: none;
			&--phone{
				fill: $red;
			}
		}
		&__title{
			display: block;
			margin-left: 10px;
			color: inherit;
			font-size: 14px;
			line-height: 18px;
		}
	}
}
@media (min-width: 1200px){
	.top-btns{
		&__title{
			font-size: 18px;
			line-height: 20px;
		}
	}
}

.main-nav{
	box-sizing: border-box;
	transition: $trans;
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item{
		display: block;
		font-size: 18px;
		line-height: 22px;
		color: #000;
		font-weight: 600;
		transition: $trans;
		// cursor: pointer;
		&--parent{
			.main-nav__link{
				position: relative;
				padding-right: 20px;
				&::after{
					content:"";
					position: absolute;
					top: 9px;
					right: 0;
					width: 12px;
					height: 6px;
					transform-origin: center center;
					transition: $trans;
					background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center center;
				}
			}
			.main-nav__item--active{
				color: $red;
				&::after{
					
				}
			}
		}
	}
	&__link{
		color: inherit;
		text-decoration: none;
	}

}
@media (max-width: 1024px){
	.main-nav{
		position: fixed;
		top: 66px;
		left: -100%;
		bottom: 0;
		z-index: 15;
		width: 100%;
		// height: auto;
		max-height: calc(100vh - 66px);
		padding: 50px 0px;
		overflow: scroll;
		background-color: #fff;
		&__item{
			padding: 0 30px;
			& + &{
				margin-top: 35px;
			}
			&--parent.open{
				.submenu{
					display: block;
				}
				.main-nav__link::after{
					transform: rotate(180deg);
				}
			}
		}
	}
}
@media (min-width: 1024px){
	.main-nav{
		position: relative;
		&__list{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 30px;
		}
		&__item{
			// padding-right: 20px;
			font-size: 16px;
			line-height: 1.2;
			padding-top: 15px;
			padding-bottom: 15px;
			&:hover{
				color: $red;
			}
			&--parent{
				.main-nav__link{
					padding-right: 15px;
					&::after{
						top: 7px;
						width: 10px;
						height: 7px;
						background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
					}
				}
				&--active,
				&:hover{
					.main-nav__link::after{
						background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='%23DB073D' stroke-width='2'/%3E%3C/svg%3E%0A");
					}
				}
				&:active,
				&:hover,
				&:focus
				{
					.submenu{
						display: block;
					}
				}
			}
			& + &{
				margin-left: 15px;
			}
		}
	}
}
@media (min-width: 1200px){
	.main-nav{
		&__list{
		}
		&__item{
			& + &{
				margin-left: 30px;
			}
		}
	}
}
@media (min-width: 1440px){
	.main-nav{
		&__list{
			padding: 0 50px;
		}
		&__item{
			font-size: 18px;
			line-height: 22px;
			&--parent .main-nav__link::after{
				top: 10px;
			}
			& + &{
				margin-left: 50px;
			}
		}
	}
}
.submenu{
	display: none;
}
@media (min-width: 1024px){
	.submenu{
		position: absolute;
		width: 440px;
		top: calc(100%);
		left: -50px;
		padding: 40px 60px;
		background-color: #fff;
		box-shadow: 0px 12px 15px rgba(191, 191, 191, 0.38);
		border-radius: 16px;
	}
}
@media (min-width: 1200px){
	.submenu{
		width: 640px;
	}
}
.main-submenu{
	margin: 0;
	padding: 20px 0;
	list-style: none;
	&--serv{
		padding-bottom: 40px;
		border-top: 1px solid #dfdfdf;
	}
	&__item{
		display: block;
		font-weight: 500;
		font-size: 12px;
		line-height: 30px;
	}
	&__link{
		color: #000;
		text-decoration: none;
		font-weight: 500;
		&--serv{
			font-weight: normal;
			font-size: 14px;
			line-height: 2.4;
		}
		&:hover{
			color: $red;
		}
	}
}
@media (min-width: 1024px){
	.main-submenu{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-around;
		padding: 0;
		&__item{
			flex: 220px 1 0;
		}
		&--serv{
			margin-top: 20px;
			padding-top: 20px;
			padding-bottom: 0;
		}
	}
}
.wrapper--open-menu{
	position: relative;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	max-height: 100vh;

	.header{
		&__nav{
			opacity: 1;
			visibility: visible;
			left: 0;
		}
	}
	.top-btns__icon{
		&--menu-open{
			opacity: 0;
		}
		&--menu-close{
			opacity: 1;
		}
	}

}

.hover{
	background-color: red;
}