.main-text{
	padding: 30px 20px;
	&--info{
		padding: 0px 0 30px;
	}
	&__content{
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: center;
	}
	&__text{
		margin: 0;
		font-size: 16px;
		line-height: 26px;
		& + &,
		& + .subtitle,
		& + .main-text__list{
			margin-top: 25px;
		}
	}
	&__list{
		margin: 0 0 25px;
		padding: 0;
		list-style: none;
	}
	&__item{
		position: relative;
		padding-left: 20px;
		font-size: 16px;
		line-height: 26px;
		&::before{
			content: "";
			position: absolute;
			top: 11px;
			left: 0;
			width: 4px;
			height: 4px;
			border-radius: 5px;
			background-color: $red;
		}
		& + &{
			margin-top: 10px;
		}
	}
	&__link{
		font-weight: bold;
		color: $red;
		text-decoration: none;
		transition: $trans;
		&:hover{
			color: #000;
		}
	}
	&__hide-block{
		display: none;
		padding-top: 25px;
		&--mobile{
			display: none;
			margin-top: 20px;
		}
		&--show{
			display: block;
		}
	}
	&__img{
		order: 5;
	}


}
@media (min-width: 768px){
	.main-text{
		padding: 30px calc((100% - 700px) / 2);
	}
}
@media (min-width: 1024px){
	.main-text{
		padding: 70px calc((100% - 960px) / 2) 90px;
		&__content{
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
		}
		&__title{
			flex-basis: 50%;
		}
		&__img{
			margin-bottom: 30px;
			flex-basis: 360px;
			order: unset;
		}
		&__item{
			&::before{
				width: 7px;
				height: 7px;
			}
		}
		&__hide-block{
			&--mobile{
				display: block;
			}
		}
		&__btn-con--mobile{
			display: none;
		}
	}
}
@media (min-width: 1200px){
	.main-text{
		padding: 100px calc((100% - 1050px) / 2) 60px;
	}
}

.info-text{
	&__preview{
		display: block;
		img{
			width: inherit;
			height: inherit;
			object-fit: cover;
			object-position: center center;
		}
	}
}
@media (max-width: 768px){
	.info-text{
		&__subtitle,
		&__text{
			padding: 0 20px;
		}
		&__preview{
			margin-top: 25px;
			width: 100%;
			height: 200px;
		}
	}
}
@media (min-width: 1024px){
	.info-text{
		&__content{
			display: flex;
			flex-flow: row nowrap;
			align-items: stretch;
			justify-content: space-between;
			gap: 40px;
		}
		&__preview{
			flex: 380px 0 0;
			img{
				width: 100%;
				height: 100%;
			}
		}

	}
}
