.masters{
	padding: 50px 20px;
	overflow: hidden;
	box-sizing: border-box;
}
@media (min-width: 768px){
	.masters{
		padding-left: calc((100% - 700px) / 2);
		padding-right: calc((100% - 700px) / 2);
		&__list{
			display: flex;
			flex-flow: row wrap;
			align-items: stretch;
			justify-content: space-between;
			gap: 20px;
		}
		&__one{
			flex: calc(50% - 20px) 1 0;

		}
	}
}
@media (min-width: 1024px){
	.masters{
		flex-wrap: nowrap;
		padding-left: calc((100% - 960px) / 2);
		padding-right: calc((100% - 960px) / 2);
		&__list{
			gap: 15px;
		}
		&__one{
			flex: calc(25% - 15px) 1 0;
		}
	}
}
@media (min-width: 1200px){
	.masters{
		padding-left: calc((100% - 1050px) / 2);
		padding-right: calc((100% - 1050px) / 2);
		&__one{
			height: 340px;
		}
	}
}
@media (min-width: 1440px){
	.masters{
	}
}
.master{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 30px 20px;
	background: #FFFFFF;
	border-radius: 20px;
	box-sizing: border-box;
	&__photo{
		width: 100px;
		margin-bottom: 20px;
		img{
			width: inherit;
		}
	}
	&__name{
		margin: 0 0 10px;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: #000000;
	}
	&__descr{
		margin: 0 0 25px;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		color: #000000;
	}
	&__exp{
		margin: auto 0 0;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		color: #000000;	
		&--time{
			font-weight: 600;
		}
	}
}
@media (min-width: 768px) {
	.master{
	}
}
@media (min-width: 1024px) {
	.master{
		padding: 30px 20px;
	}
}
@media (min-width: 1200px) {
	.master{
		padding: 30px 40px 50px;
		&__photo{
			margin-bottom: 25px;
		}

	}
}
@media (min-width: 1440px) {
	.master{
	}
}

