.page-info{
	padding: 0px 15px 0px;
	&--faults{
		padding: 20px 15px 0;
	}
	&__description{
		margin: 0;
		font-size: 14px;
		line-height: 25px;
		color: #000;
	}
	&__photo{
		display: none;
	}
	&__form{
		margin-top: 20px;
	}
}
@media (min-width: 768px){
	.page-info{
		padding-left: calc((100% - 700px) / 2);
		padding-right: calc((100% - 700px) / 2);
		&__description{
			& + &{
				margin-top: 10px;
			}
		}
	}
}
@media (min-width: 1024px){
	.page-info{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		padding-left: calc((100% - 960px) / 2);
		padding-right: calc((100% - 960px) / 2);
		&__text,
		&__photo{
			flex-basis: 50%;
		}
		&__text{
			&--feed{
				flex-grow: 1;
			}
		}
		&__description{
			font-size: 15px;
			line-height: 28px;
			& + &{
				margin-top: 20px;
			}
		}
		&__photo{
			display: block;
			&--contacts{
				img{
					max-height: 340px;
					object-fit: contain;
				}
			}
			&--feed{
				flex-basis: 360px;
			}
		}
		&__form{
			margin-top: 30px;
		}
	}
}
@media (min-width: 1200px){
	.page-info{
		gap: 30px;
		padding-left: calc((100% - 1050px) / 2);
		padding-right: calc((100% - 1050px) / 2);
		&__description{
			font-size: 16px;
			line-height: 30px;
			& + &{
				margin-top: 30px;
			}
		}
		&__form{
			margin-top: 50px;
		}
	}
}
@media (min-width: 1440px){
	.page-info{
		gap: 40px;
		// padding-left: calc((100% - 1270px) / 2);
		// padding-right: calc((100% - 1270px) / 2);
		// padding-bottom: 60px;
		&--faults{
			padding-bottom: 0px;
		}
	}
}