.price-reason{
	display: none;
}
@media (min-width: 1024px){
	.price-reason{
		display: block;
		padding: 10px calc((100% - 960px) / 2) 0px;
		&__list{
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			column-gap: 15px;
		}
	}
}
@media (min-width: 1200px){
	.price-reason{
		padding: 30px calc((100% - 1050px) / 2) 0px;
		&__list{
		}
	}
}
.reason{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	flex-basis: 25%;
	background-color: #E3E7EA;
	border-radius: 10px;
	&__number{
		margin: 0;
		margin-right: 15px;
		width: 20px;
		height: 20px;
		background-color: #fff;
		border-radius: 50%;
		font-weight: 600;
		font-size: 13px;
		line-height: 20px;
		color: $red;
		text-align: center;
		flex: 20px 0 0;
	}
	&__name{
		margin: 0;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
	}
}
@media (min-width: 1024px){
	.reason{
		padding: 20px 10px;	
	}
}
@media (min-width: 1200px){
	.reason{
		padding: 20px;

	}
}