.prices{
	padding: 25px 0px 15px;
	&__header{
		position: relative;
	}
	&__con + &__header{
		margin-top: 40px;
	}
	&__title{
		margin: 0 0 20px;
		max-width: calc(100% - 40px);
		font-weight: bold;
		font-size: 18px;
		line-height: 1.4;
	}
	&__btn{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-end;
		background-color: transparent;
		border: none;
		cursor: pointer;
		&.open{
			.prices__btn-icon{
				img{
					transform: rotate(180deg);
				}
			}
		}
		&-icon{
			img{
				transition: $trans;
			}
		}
	}
	&__con{
		display: none;
		&.open{
			display: block;
		}
	}

}
@media (max-width: 767px){
	.prices{
		&__header{
			padding: 0 15px;
		}
		& + .consultation{
			display: none;
		}
	}
}
@media (min-width: 767px){
	.prices{
		padding: 3px calc((100% - 700px) / 2) 0px;
		&__title{
			max-width: unset;
			font-size: 20px;
		}
		&__btn{
			display: none;
		}
		&__con{
			display: block;
		}
	}
}
@media (max-width: 1024px){
	.prices{
		padding-top: 40px;
		&__serv{
			& + &{
				margin-top: 20px;
			}
		}
	}
}
@media (min-width: 1024px){
	.prices{
		padding: 50px calc((100% - 960px) / 2) 0px;
		&__title{
			margin-bottom: 30px;
			font-size: 22px;
		}
		&__con + &__header{
			margin-top: 50px;
		}
	}
}
@media (min-width: 1200px){
	.prices{
		padding: 70px calc((100% - 1050px) / 2) 0px;
		&__con + &__header{
			margin-top: 75px;
		}
		&__title{
			font-size: 24px;
		}
	}
}
@media (min-width: 1440px){
	.prices{
		padding-left: calc((100% - 1270px) / 2);
		padding-right: calc((100% - 1270px) / 2);
	}
}

.serv-price{
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	&__line{
		margin: 0;
		width: 100%;
		order: 1;
		border-bottom: 1px dashed #666666;
	}
	&__name{
		margin: 0;
		padding: 0 15px;
		font-size: 16px;
		line-height: 130%;
	}
	&__price{
		margin: 0;
		padding: 0 15px;
		font-weight: 600;
		font-size: 16px;
		line-height: 240%;
		color: $red;
	}

}
@media (min-width: 768px){
	.serv-price{
		flex-flow: row nowrap;
		align-items: center;
		& + &{
			margin-top: 20px;
		}
		&__line{
			flex-grow: 1;
			align-self: flex-end;
			order: unset;
		}
		&__name{
			flex-shrink: 0;
			padding: 0;
			padding-right: 20px;
		}
		&__price{
			flex-shrink: 0;
			padding: 0;
			padding-left: 20px;
			line-height: 1.45;
		}

	}
}
@media (min-width: 1024px){
	.serv-price{
	}

}
@media (min-width: 1200px){
	.serv-price{
		&__name{
			padding-right: 30px;
			font-size: 18px;
		}
		&__price{
			padding-left: 30px;
			font-size: 18px;
		}
	}
}