.sale{
	padding: 30px 20px;
	background-color: $red;
	&__text{
		margin: 0 0 20px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: #FFFFFF;
		text-align: center;
		&--time{
			margin: 15px 0 0;
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
		}
		&--proc{
			padding: 5px 10px;
			background-color: $red;
			box-shadow: -3px 4px 0px #25383F;
			border-radius: 3px;
		}
		&--happy{
			text-align: start;
			line-height: 28px;
		}
	}
}
@media (min-width: 768px){
	.sale{
		padding: 30px calc((100% - 700px) / 2);
		&__form{
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
		&__text{
			br{
				display: none;
			}
		}
	}
}
@media (min-width: 1024px){
	.sale{
		padding: 40px calc((100% - 960px) / 2);
		background-image: url("data:image/svg+xml,%3Csvg width='589' height='313' viewBox='0 0 589 313' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M254.486 -71.8301C310.84 -63.918 354.091 -29.8381 401.295 -1.57766C451.685 28.5901 524.5 33 538.764 98.3635C554.359 169.83 504.78 201.532 486 253.5C466.677 306.97 482.881 370.713 429.287 401.306C376.104 431.664 307.084 418.752 243.639 413.894C184.286 409.35 115.429 412.767 75.0952 374.188C35.547 336.362 59.9046 276.389 47.5538 226.345C36.6799 182.284 2.98797 144.041 7.2276 99.1944C12.3168 45.361 25.1652 -14.2081 73.452 -47.6073C122.462 -81.5068 192.586 -80.5209 254.486 -71.8301Z' fill='%23111111' fill-opacity='0.17'/%3E%3C/g%3E%3Cpath d='M494.5 2C524 13.5 577.698 36.8972 587 102.5C596.5 169.5 509.5 240 539 312' stroke='%23B90936' stroke-width='2'/%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath d='M191.364 134.982L186.924 163.259L197.171 175.165L207.759 163.259L204.002 134.982H191.364Z' fill='white' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M226 116.75C226 136.597 213.806 148 199.821 148C192.794 148 186.621 145.139 182.189 139.844C177.746 134.538 175 126.72 175 116.75C175 106.788 177.913 97.8108 182.573 91.3487C187.234 84.8853 193.585 81 200.5 81C207.415 81 213.766 84.8853 218.427 91.3487C223.087 97.8108 226 106.788 226 116.75Z' fill='white' stroke='%2325383F' stroke-width='2'/%3E%3Cellipse cx='191.541' cy='110.735' rx='2.97648' ry='1.48824' transform='rotate(-90 191.541 110.735)' fill='%2325383F'/%3E%3Cellipse rx='2.77851' ry='1.61873' transform='matrix(0.401719 -0.915763 0.796212 0.605018 210.405 111.524)' fill='%2325383F'/%3E%3Cpath d='M186 104.976C187.663 103.731 191.483 101.432 193.462 102.201' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M215.435 106.277C213.834 104.954 210.129 102.474 208.116 103.147' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M281 223.5L260 237L279 263L285.178 275.719C286.347 278.126 289.486 278.762 291.5 277C297.068 280.712 303.733 274.099 300.021 268.532C298.699 266.548 296.86 264.964 294.703 263.949L289.5 261.5L281 223.5Z' fill='white' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M204.022 120.571L200.587 111.624C200.217 110.659 198.805 110.822 198.663 111.845L197.215 122.294C197.115 123.019 197.801 123.602 198.5 123.387L203.383 121.885C203.936 121.715 204.23 121.112 204.022 120.571Z' fill='%23E7BEBE'/%3E%3Cpath d='M192 128V128C194.503 133.938 202.803 134.246 205.739 128.51L206 128' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M164.359 118.429L166.01 130.43C166.269 132.317 164.802 134 162.897 134C161.731 134 160.66 134.646 160.117 135.678L136.083 181.344C136.03 181.443 136.02 181.56 136.055 181.667L142.451 201.349C142.484 201.449 142.5 201.553 142.5 201.658L142.5 206.845C142.5 207.454 141.96 207.922 141.357 207.835L137.826 207.325C119.363 204.658 110.219 183.44 120.96 168.187L141.061 139.643C145.932 132.727 149.85 125.186 152.709 117.224C154.831 111.281 163.5 112.178 164.359 118.429Z' fill='white' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M283.477 217.443L270.385 190.255C258.724 166.04 233.269 151.594 206.5 154C205.167 164.788 189.535 164.782 188.152 154L173.5 154.256C164.862 154.407 156.354 156.389 148.538 160.071C147.815 160.412 147.216 160.969 146.823 161.665L123.411 203.194C120.893 207.661 124.776 213.024 129.806 212.026L160.395 205.957L152.161 347.158C151.894 351.737 155.876 355.42 160.421 354.797L198.216 349.617C220.046 346.625 240.341 336.714 256.124 321.339C257.12 320.369 257.604 318.988 257.43 317.608L245.727 224.556C245.555 223.188 247.525 222.776 247.915 224.099L251.911 237.649C253.267 242.245 259.358 243.19 262.042 239.222L262.746 238.183C265.568 234.01 269.862 231.058 274.769 229.916L277.845 229.2C283.054 227.988 285.797 222.261 283.477 217.443Z' fill='%236A9CB2' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M189 65.5C152 68.0001 154.153 99.6414 173.5 117.5C177.717 113.531 176.416 103.859 181.715 96.2881C186.924 88.847 198.76 88.4562 213 96.2881C229.5 105.363 209.5 108 218.5 122.5L215.326 129.713C213.949 132.845 214.807 136.51 217.433 138.703L212 150.5C213.985 153.973 189 212.5 217.433 222.5C236.171 229.09 238.192 206.705 242 204.5C261 193.5 236.299 182.58 247 165C254 153.5 258.5 117.5 240 91.4999C226.978 73.1988 217.648 63.5643 189 65.5Z' fill='%2325383F'/%3E%3Cpath d='M175 267.5C180.833 265.167 193.5 258.2 197.5 249' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M273 221C269.63 222.387 262.311 226.53 260 232' stroke='%2325383F' stroke-width='2'/%3E%3C/g%3E%3Cg filter='url(%23filter0_d)'%3E%3Ccircle cx='346.5' cy='100.5' r='71.5' fill='white'/%3E%3Ccircle cx='346.5' cy='100.5' r='70.5' stroke='%2325383F' stroke-width='2'/%3E%3C/g%3E%3Cpath d='M347 45V57.5' stroke='%2325383F' stroke-width='7'/%3E%3Cpath d='M347 143V155.5' stroke='%2325383F' stroke-width='7'/%3E%3Cpath d='M402.25 100.25L389.75 100.25' stroke='%2325383F' stroke-width='7'/%3E%3Cpath d='M304.25 100.25L291.75 100.25' stroke='%2325383F' stroke-width='7'/%3E%3Cpath d='M374.625 52.4021L368.375 63.2274' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M325.625 137.273L319.375 148.098' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M394.848 127.875L384.023 121.625' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M309.977 78.875L299.152 72.625' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M394.848 72.625L384.023 78.875' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M309.977 121.625L299.152 127.875' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M374.625 148.098L368.375 137.273' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M325.625 63.2275L319.375 52.4022' stroke='%2325383F' stroke-width='2'/%3E%3Cpath d='M332.5 76L347.5 100.5H377.5' stroke='%23DB073D' stroke-width='4'/%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='275' y='29' width='143' height='152' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='9'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.145098 0 0 0 0 0.219608 0 0 0 0 0.247059 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0'%3E%3Crect width='550' height='313' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='206' height='263' fill='white' transform='translate(98 50)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: right center;

		&__info{
			width: 50%;
			max-width: 470px;
		}
		&__form{
			width: 100%;
		}
		&__text{
			text-align: start;
			&--happy{
				margin: 0;
			}
		}
	}
}
@media (min-width: 1200px){
	.sale{
		padding: 50px calc((100% - 1100px) / 2);
	}
}
@media (min-width: 1440px){
	.sale{
		background-position: calc(100% - 300px) center;
	}
}