.services{
	padding: 40px 20px 60px;
	overflow: hidden;
	&__list{

	}
}
@media (min-width: 768px){
	.services{
		padding: 50px calc((100% - 700px) / 2) 30px;
		&__list{
			display: flex;
			flex-flow: row wrap;
			align-items: stretch;
			justify-content: space-between;
		}
		&__one{
			flex-basis: calc(50% - 10px);
			margin-bottom: 20px;
		}
	}
}
@media (min-width: 1024px){
	.services{
		padding: 70px calc((100% - 960px) / 2) 10px;
		&__one{
		}
	}
}
@media (min-width: 1200px){
	.services{
		padding: 100px calc((100% - 1050px) / 2) 20px;
	}
}
@media (min-width: 1440px){
	.services{
		padding-top: 110px;
	}
}
.serv{
	&__header{
		margin-bottom: 10px;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;
	}
	&__title{
		margin: 0 0 25px;
		display: none;
		font-size: 16px;
		line-height: 22px;
		color: #000000;
		&--mobile{
			display: block;
		}
	}
	&__text{
		margin: 0;
		font-size: 14px;
		line-height: 22px;
		color: #000000;
		&--info{
			display: block;
			margin-top: 25px;
			font-size: 12px;
			line-height: 19px;
		}
	}
	&__icon{
		margin-right: 30px;
		width: 80px;
		height: 80px;
		img{
			width: inherit;
		}
	}
}
@media (min-width: 768px){
	.serv{
		margin-bottom: 40px;
		&__icon{
			width: 90px;
			height: 90px;
		}
	}
}
@media (min-width: 1024px){
	.serv{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 60px;
		&__header{
			display: block;
		}
		&__description{
			max-width: 340px;
			margin-left: 30px;
		}
		&__title{
			display: block;
			&--mobile{
				display: none;
			}
		}
		&__icon{
			flex-basis: 100px;
			width: 100px;
			height: 100px;
		}
	}
}
@media (min-width: 1200px){
	.serv{
		margin-bottom: 80px;
		&__icon{
			width: 130px;
			height: 130px;
		}
	}
}

