@import "normalize";
@import "swiper.min";
@import "fonts";
@import "vars";
@import "header";
@import "first";
@import "broke";
@import "sale";
@import "services";
@import "masters";
@import "main-text";
@import "happy";
@import "footer";
@import "breadcrumbs";
@import "page-info";
@import "consultation";
@import "feedbacks";
@import "prices";
@import "price-reason";
@import "faults";
@import "contacts";
body{
	background: $grey;
	font-family: $font;
}
img{
	width: 100%;
	line-height: 0;
}
.white-block{
	width: 100%;
	border-radius: 30px;
	padding: 40px 20px 50px;
	background-color: #fff;
	box-sizing: border-box;
	&--blue{
		background: linear-gradient(91.61deg, #6A9CB2 39.96%, #A3C7CF 100.14%);
		border-radius: 20px;
	}
	&--consultation,
	&--prices{
		padding-left: 0;
		padding-right: 0;
	}

}
@media (max-width: 767px){
	.white-block{
		&--map{
			border-radius: 0;
		}
	}
}
@media (min-width: 768px){
	.white-block{
		padding: 50px 30px 50px;
		&--consultation{
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}
@media (max-width: 1024px){
	.white-block{
		&--consultation{
			border-radius: 0;
		}
	}

}
@media (min-width: 1024px){
	.white-block{
		padding: 60px 50px 50px;
		&--consultation{
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}
@media (min-width: 1200px){
	.white-block{
		padding: 75px 70px 60px;
		&--consultation{
			padding-top: 0;
			padding-bottom: 0;
		}
		&--faults{
			padding-top: 55px;
			padding-bottom: 55px;
		}
	}
}
@media (min-width: 1440px){
	.white-block{
		padding: 90px 90px 70px;
		&--blue{
			padding: 50px 90px 60px;
		}
		&--faults{
			padding-top: 55px;
			padding-bottom: 55px;
		}
		&--consultation{
			padding-top: 0;
			padding-bottom: 0;
		}
		&--map{
			padding-left: 60px;
			padding-right: 60px;
		}
	}
}

.title{
	&--page{
		margin-bottom: 20px;
		font-weight: 900;
		font-size: 22px;
		line-height: 28px;
	}
}
@media (min-width: 1024px){
	.title{
		&--page{
			margin-bottom: 25px;
			font-size: 32px;
			line-height: 40px;
		}
	}
}

@media (min-width: 1200px){
	.title{
		&--page{
			margin-bottom: 35px;
			font-size: 38px;
			line-height: 46px;
		}
	}
}

@media (min-width: 1440px){
	.title{
		&--page{
			font-size: 44px;
			line-height: 51px;
		}
	}
}


.subtitle{
	margin: 0 0 10px;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	&--sale{
		color: #fff;
		line-height: 33px;
		text-align: center;
		&-lined{
			position: relative;
			&::after{
				content: "";
				position: absolute;
				left: -10px;
				bottom: -5px;
				width: 70px;
				height: 10px;
				background-image: url("data:image/svg+xml,%3Csvg width='70' height='7' viewBox='0 0 70 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.360863 3.97686L2.36439 5.69906C2.37832 5.71103 2.39683 5.71623 2.41496 5.71325C23.0355 2.32196 44.0809 2.43947 64.6623 6.06081L70 7L68.2049 6.49173C46.162 0.250508 22.9648 -0.747716 0.467303 3.57684C0.278447 3.61314 0.215024 3.8515 0.360863 3.97686Z' fill='white'/%3E%3C/svg%3E%0A");
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
	}
	&--main-text{
		margin: 0 0 25px;
	}
	&--marked-text{
		display: block;
		margin-top: 20px;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
	}
	&--happy{
		text-align: start;
	}
}
@media (max-width: 1024px){
	.subtitle{
		&--consultation{
			text-align: center;
			padding: 0 20px;
		}
	}
}
@media (min-width: 1024px){
	.subtitle{
		&--sale{
			text-align: start;
		}

	}
}
@media (min-width: 1200px){
	.subtitle{
		margin-bottom: 30px;
		font-size: 30px;
		line-height: 42px;
		&--sale{
			margin-bottom: 15px;
			font-size: 44px;
			line-height: 66px;
			&-lined{
				&::after{
					bottom: -10px;
					width: 110px;
					height: 15px;
				}
			}
		}
		&--happy{
			margin-bottom: 20px;
			line-height: 1;
		}
		&--main-text{
			margin: 0;
		}
		&--marked-text{
			font-size: 24px;
			line-height: 34px;
		}

	}
}

.btn{
	box-sizing: border-box;
	border-radius: 9px;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	border: 2px solid;
	transition: $trans;
	cursor: pointer;
	&:active{
		opacity: 0.7;
	}
	&--broke-form{
		display: block;
		width: 100%;
		padding: 10px 0px;
		color: #000;
		text-align: center;
		background-color: #fff;
		border-color: #fff;
		&:hover{
			background-color: $blue;
			color: #fff;
		}
	}
	&--brokes-more{
		display: block;
		width: fit-content;
		margin: 30px auto;
		padding: 8px 30px;
		border-color: $red;
		color: $red;
		text-decoration: none;
		&:hover{
			background-color: $red;
			color: #fff;
		}
	}
	&--faults-more{
		width: 100%;
	}
	&--text-more{
		width: 205px;
		background-color: $grey;
	}
	&--feed-link{
		display: block;
		margin-top: 10px;
		padding: 10px;
		white-space: nowrap;
		border-color: $red;
		color: $red;
		text-decoration: none;
	}
}
@media (min-width: 1024px){
	.btn{
		&--feed-link{
			margin-top: 0;
			margin-left: auto;
			flex-basis: 32%;
		}
	}
}

.form{
	&__input{
		display: block;
		width: 100%;
		padding: 10px;
		border: 2px solid #25383F;
		border-radius: 9px;
		text-align: center;
		box-sizing: border-box;
		font-weight: 500;
		font-size: 14px;
		line-height: 26px;
		color: #25383F;
		outline: none;
		&:focus{
			border-color: $red;
		}
	}
	&__submit{
		display: block;
		width: 100%;
		margin-top: 10px;
		padding: 10px;
		font-weight: bold;
		font-size: 14px;
		line-height: 186.4%;
		color: #FFFFFF;
		border: 2px solid;
		border-radius: 9px;
		transition: 0.3s all ease-in;
		cursor: pointer;
		outline: none;
		&:active{
			opacity: 0.5;
		}
		&--red{
			background: $red;
			border-color: $red;
			&:focus,
			&:hover{
				color: #25383F;
				border-color: #25383F;
				background: #fff;
			}		
		}
		&--black{
			background-color: #25383F;
			border-color: #25383F;
			&:focus,
			&:hover{
				color: #25383F;
				background-color: #fff;
			}		

		}
	}
}
@media (min-width: 1024px){
	.form{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;
		&__input{
			margin-right: -9px;
			width: 50%;
			border-radius: 9px 0 0 9px;
			border-right: none;
			&--consultation{
				margin-right: 10px;
				border-right: 2px solid;
				border-radius: 9px;
			}
			&--feed{
				flex-basis: 32%;
			}
		}
		&__submit{
			width: 50%;
			margin-top: 0;
			&--feed{
				flex-basis: 32%;
			}
		}
	}
}

.pagination{
	position: relative;
	margin-top: 20px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	&__btn{
		padding: 0;
		background-color: transparent;
		border: none;
		cursor: pointer;
		&--next{
			img{
				transform: rotate(180deg);
			}
		}
	}
	&__icon{
		width: 30px;
	}
	&__list{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		.swiper-pagination-bullet{
			width: 5px;
			height: 5px;
			background-color: #BFBFBF;
			&-active{
				background-color: $red;

			}
			& + .swiper-pagination-bullet{
				margin-left: 15px;
			}
		}
	}
}
@media (min-width: 768px){
	.pagination{
		display: none;
		&--feedbacks{
			display: flex;
			justify-content: center;
			gap: 30px;
		}
	}
}
@media (min-width: 1024px){
	.pagination{
		&--feedbacks{
			gap: 70px;
		}
	}
}
